body{
	background-color:white;
}
p{
	margin-left:30px;
	margin-right:30px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;	
	text-align:center;
}
nav{
	margin-left: 30px;
	margin-right:30px;
    background-color:black;
    font-size:30px;
	height:100px;
	text-align:center;
}
#navigation{
    width:350px;
    text-align:center;
	background-color:black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.navLink{
	color:white;
}
/* Causing NAV to break

.dropdown {
	float: left;
	overflow: hidde;
  }
  */
  .dropdown-item{
	background-color: white;
  }
.nav-link-dropdown-toggle{
	color:black;
}

  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #000000;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
.dropdown-content a:hover {
	background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
	display: block;
}  

#main-title{
	font-family: 'Courier New', Courier, monospace;
	color:black;
	font-size:50px;
	text-align:center;
}
h3,h1,h4,h6{
	text-align:center;
	font-family: 'Courier New', Courier, monospace;
	color: black;
	text-decoration: underline;
}
.topOfPage{
	text-decoration:none;
}
.middle{
	background-color:white;
	border-color:black;
	border-width:5px;
}
.bottomRow{
	border-color: black;
	border-width: 2px;
}
div.bottomRow:hover{
     border-color:gray;
}
.homeImage{
	margin-right:30px;
	margin-left:30px;
	width: 300px;
	height:200px;
	text-align:center;
}
.resourceImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 200px;
}
.resourceImage:hover{
	box-shadow: 0 0 4px 2px rgba(83, 83, 83, 0.5);
}
.Quiz{
	text-align:center;
}
.QuizTitle{
	text-align:center;
	font-family:'Courier New', Courier, monospace;
	text-decoration:underline;
}
.QuizResult{
	text-align:center;
	color:aquamarine;
}
